body {

    width: 100%;
    height: auto;
}

body.rainy {
  background-image: url('./js/images/rainy.webp');
   background-size: 150%; 
  animation: slowPan 20s ease-in-out infinite reverse;

}

body.cloudy {
  background-image: url('./js/images/cloudy.webp');
  animation: slowPan 20s ease-in-out infinite alternate;
}

body.overcast {
  background-image: url('./js/images/overcast.jpg');
  animation: slowPan 20s ease-in-out infinite alternate;
}

@keyframes slowPan {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}