body {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px black;
} 

.current {
  background-color: grey;
  opacity: 0.8;
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.airquality {
  background-color: grey;
  opacity: 0.8;
  border-radius: 25px;
  width: 100%;
  height: auto;

}

.weather-container {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  overflow-x: auto;  
  padding: 10px;
}

.weather-container::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
 
  align-items: center;
}

.forecast {
  margin-top: 10px;
  background-color: grey;
  opacity: 0.8;
  border-radius: 25px;
  width: 100%;
  height: auto;
}

body.rainy {
  background-image: url('./js/images/rainy.webp');
   background-size: 150%; 
  animation: slowPan 20s ease-in-out infinite reverse;

}

body.sunny {
  background-image: url('./js/images/sunny.webp');
   background-size: 120%; 
  animation: slowPan 20s ease-in-out infinite reverse;

}

body.cloudy {
  background-image: url('./js/images/cloudy.webp');
   background-size: 150%; 
  animation: slowPan 20s ease-in-out infinite alternate;
}

body.overcast {
  background-image: url('./js/images/overcast.jpg');
  /* background-image: url('./js/images/overcast.jpg'); */
  animation: slowPan 20s ease-in-out infinite alternate;
}

@keyframes slowPan {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

.cardtwo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.rightwrap {
  display: flex;
  /* background-color: #43e97b; */
  width: 400px;
  height: 20px;
}

.temp-bar {
  width: 300px;
  height: 20px;
  background: #eaeaef;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.day-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp-range {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;

  
  background: linear-gradient(
    to right,
    #4facfe,   
    #00f2fe,
    #43e97b,   
    #f9d423,
    #f5576c    
  );
}

.precipitation {
  margin-top: 10px;
  width: 100%;
  height: auto;
  background-color: grey;
  opacity: 0.8;
  border-radius: 25px;
}

.airquality {
  color: white;
   padding-left: 20px; 
   margin-top: 10px;
}

.airquality-bar {
  width: 80%;
  height: 10px;
  border-radius: 6px;
  background: linear-gradient(
    to right,
    #00e400,   
    #ffff00,   
    #ff7e00,   
    #ff0000,   
    #8f3f97,   
    #7e0023    
  );
  position: relative;
  /* left: 100px; */
}

.airquality-indicator {
  position: absolute;
  top: -4px;
  width: 18px;
  height: 18px;
  background: rgb(245, 239, 239);
  border-radius: 50%;
  transform: translateX(-50%);
}

.airquality-rating {
  left: 100px;
}


/* map */

#map {
   height: 400px; 
   /* width: 700px; */

}


.div-wrap {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.feels-like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: grey;
  opacity: 0.8;
  width: 40%;
  height: auto;
  border-radius: 20px;
}

.uv-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
   background-color: grey;
  opacity: 0.8;
  width: 40%;
  height: auto;
  border-radius: 20px;
}

.wind {
  margin-top: 10px;
  /* padding-top: 100px; */
  padding: 20px;
   color: white;
   background-color: grey;
  opacity: 0.8;
  width: 80%;
  height: 300px;
  border-radius: 20px;
 display: flex; 
 gap: 200px;
}

.wind-wrap {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.row {
  display: flex;
  gap: 100px;
  height: 50px;
}




.compass {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: white;
}

/* circle */
.compass-circle {
  width: 120px;
  height: 120px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* cardinal directions */
.compass-circle span {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
}

/* positioning */
.north {
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.south {
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.east {
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.west {
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.footer{
position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
}

.list-button {
 /* margin-left: auto; */
  /* padding-top: 50px; */
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}