body {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px black;
} 

.current {
  background-color: grey;
  opacity: 0.8;
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.weather-container {
  /* top: 100px; */
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  overflow-x: auto;  
  padding: 10px;
}

.weather-container::-webkit-scrollbar {
  display: none;
}

.card {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-left: 10px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.forecast {
  margin-top: 10px;
  background-color: grey;
  opacity: 0.8;
  border-radius: 25px;
  width: 100%;
  height: auto;
}

body.rainy {
  background-image: url('./js/images/rainy.webp');
   background-size: 150%; 
  animation: slowPan 20s ease-in-out infinite reverse;

}

body.sunny {
  background-image: url('./js/images/sunny.webp');
   background-size: 120%; 
  animation: slowPan 20s ease-in-out infinite reverse;

}

body.cloudy {
  background-image: url('./js/images/cloudy.webp');
   background-size: 150%; 
  animation: slowPan 20s ease-in-out infinite alternate;
}

body.overcast {
  background-image: url('./js/images/overcast.jpg');
  animation: slowPan 20s ease-in-out infinite alternate;
}

@keyframes slowPan {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}